web/disableinf5.html

# Vendor
vendor/*
web/app/themes/regionhalland/vendor/*

# Biljetter
web/app/datafiler/biljett/hsa/*
!web/app/datafiler/biljett/hsa/.gitkeep
web/app/datafiler/biljett/analys/*
!web/app/datafiler/biljett/analys/.gitkeep

# Cert
web/app/datafiler/cert/*
!web/app/datafiler/cert/.gitkeep

# Enheter
web/app/datafiler/enheter/*
!web/app/datafiler/enheter/.gitkeep

# Personer
web/app/datafiler/personer/*
!web/app/datafiler/personer/.gitkeep

# Jobb
web/app/datafiler/jobb/*
!web/app/datafiler/jobb/.gitkeep

# Analys
web/app/datafiler/analys/*
!web/app/datafiler/analys/.gitkeep

# Cache
web/app/themes/regionhalland/.cache-loader/*

# Composer
composer.lock

# OS
.DS_Store

# Application
web/app/mu-plugins/*/
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/uploads/*
!web/app/uploads/.gitkeep
web/app/upgrade/*
!web/app/upgrade/.gitkeep

# Wordpress
web/wp/*

# Dotenv
.env
.env.*

.htaccess
.idea
.idea/*