web/disableinf5.html

# Vendor
vendor/*
web/app/themes/regionhalland/vendor/*

web/app/datafiler/biljett/hsa/*
!web/app/datafiler/biljett/hsa/.gitkeep
web/app/datafiler/cert/*
!web/app/datafiler/cert/.gitkeep
web/app/datafiler/enheter/*
!web/app/datafiler/enheter/.gitkeep
web/app/datafiler/personer/*
!web/app/datafiler/personer/.gitkeep
web/app/datafiler/jobb/*
!web/app/datafiler/jobb/.gitkeep

# Cache
web/app/themes/regionhalland/.cache-loader/*

# Composer
composer.lock

# OS
.DS_Store

# Application
web/app/mu-plugins/*/
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/uploads/*
!web/app/uploads/.gitkeep
web/app/upgrade/*
!web/app/upgrade/.gitkeep

# Wordpress
web/wp/*

# Dotenv
.env
.env.*

.htaccess
.idea
.idea/*